<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tech Blog</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/reset.css">
    </head>

    <body>
        <header>
            <div>
            <h1 class="tech-blog-logo">Tech Blog</h1>
            </div>
            <nav>
                <ul class="nav-list">
                    <li class="nav-list-items"><a href="/">Home</a></li>
                    <li class="nav-list-items"><a href="/dashboard">Dashboard</a></li>
                    {{#if logged_in}}
                    <button class="no-button" id="logout">Log Out</button>
                    {{else}}
                    <li class="nav-list-items"><a href="/login">Login</a></li>
                    {{/if}}
                </ul>
            </nav>
        </header>

        <main>
           {{{body}}}
        </main>

        {{#if logged_in}}
        <script src="/js/logout.js"></script>
        {{/if}}
    </body>

</html>