<section class="post-card">
    <div class="post-header">
        <h2>Sign Up</h2>
    </div>
    <form class="signup-form post-description-style">
        <div class="form-flex login-fill">
            <div class="login-fill">
                <label for="username-signup" class="login-fill">Username: </label>
                <input class="form-input" type="text" id="username-signup">
            </div>
            <div class="login-fill">
                <label for="email-signup" class="login-fill">Email: </label>
                <input class="form-input" type="text" id="email-signup">
            </div>
            <div class="login-fill">
                <label for="password-signup" class="login-fill">Password: </label>
                <input class="form-input" type="password" id="password-signup">
            </div>
            <div class="login-fill">
                <button class="btn-style" type="submit">Sign Up</button>
            </div>
        </div>
    </form>
    <a href="/login">Log in instead</a>
</section>

<script src="./js/login.js"></script>